<%- include('../header')%>
<link rel="stylesheet" href="/admin/vendor/toasty/toasty.min.css">
<script src="/admin/vendor/toasty/toasty.min.js"></script>
<script>
    var status = "<%= status %>";
    var method = "<%= method %>";
    $(document).ready(function () {
        var options = {
            enableSounds: true,
            sounds: {
                info: "/admin/vendor/toasty/sounds/info/1.mp3",
                success: "/admin/vendor/toasty/sounds/success/1.mp3",
                warning: "/admin/vendor/toasty/sounds/warning/1.mp3",
                error: "/admin/vendor/toasty/sounds/error/1.mp3",
            }
        }
        if (status == 'success') {
            var toast = new Toasty(options);
            toast.configure(options);
            switch (method) {
                case 'insert':
                    toast.success('Inserido com sucesso!');
                    break;
                case 'update':
                    toast.success('Alterado com sucesso!');
                    break;
                case 'delete':
                    toast.success('Deletado com sucesso!');
                    break;
                default:
                    break;
            }
        }
    })
</script>

<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Editar vaga</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Editar vaga</li>
    </ul>
</div>
<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <a href="/admin/vagas/nova" class="btn btn-new btn-primary">Adicionar nova vaga</a>
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a
                                    href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#"
                                    class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Basic Table</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Título</th>
                                        <th>Descrição</th>
                                        <th>Excluir</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% vagas.forEach(vaga=>{ %>
                                    <tr>
                                        <td scope="row">
                                            <%- vaga.id%>
                                        </td>
                                        <td>
                                            <%- vaga.titulo%>
                                        </td>
                                        <td>
                                            <%- vaga.descricao%>
                                        </td>
                                        <td><a href="/admin/vagas/delete/<%- vaga.id %>">Excluir</td>
                                        <td><a href="/admin/vagas/editar/<%- vaga.id %>">Editar</td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../footer')%>